# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/

!CMakeLists.txt

# Allow all .cc files in scratch/
!scratch/*.cc
!scratch-simulator.cc
